body {
  background-color: rgb(121, 152, 152);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

main,
section {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  
}

/* section da esquerda */

section,
#homestats {
}

section,
#maindisplay {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 30rem;
  height: 15rem;
  margin-top: 5rem;
  background-color: rgb(31, 62, 88);
  border: 3px solid white;
  border-radius: 5px;
  color: white;
}

div#middlesection{
 margin-top: 2rem;
}

p#countdowntimer{
  background-color: black
}

p#periodcounter{
  background-color: black
}

span,
button {
  background-color: ;
}
