body {
  background-color: rgb(121, 152, 152);
  margin: 0;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 50px;
  width: 40%;
  height: 40%;
  background-color: rgb(31, 62, 88);
  border: 3px solid white;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

div p {
  margin: 1rem;
  height: 5.5rem;
  width: 8rem;
  font-size: 5rem;
  background-color: black;
  color: rgb(198, 66, 66);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div span {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  margin: 0.2rem;
  color: white;
  background-color: rgb(31, 62, 88);
  border: 0.1rem solid rgb(219, 212, 212);
  border-radius: 3px;
  width: 2rem;
  height: 1.5rem;
}

#newgame-el {
  background-color: rgb(204, 71, 71);
  width: 5rem;
  height: 2rem;
}
