body {
  background-color: rgb(121, 152, 152);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 5rem;
  width: 50%;
  height: 30%;
  background-color: rgb(31, 62, 88);
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  padding: 2rem;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

p {
  margin: 1rem;
  height: 6rem;
  width: 10rem;
  font-size: 5rem;
  background-color: black;
  color: rgb(198, 66, 66);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#winner{color: rgb(27, 253, 7);

}

span {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

span,
#btn {
  margin: auto;
}

#reset-el,
#newgame {
  width: 5rem;
  height: 2.5rem;
}

#reset-el {
  background-color: rgb(95, 122, 54);
}

#newgame {
  background-color: brown;
}

#specialinputs {
  justify-content: center;
  align-items: center;
}

div,
#winner {
  justify-content: center;
  text-align: center;
  font-size: 3rem;
}

button {
  margin: 0.2rem;
  color: white;
  background-color: rgb(31, 62, 88);
  border: 0.1rem solid rgb(219, 212, 212);
  border-radius: 3px;
  width: 2rem;
  height: 1.5rem;
}
